<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
    
            <div class="jumbotron">
                <h3>My Favorite TV Shows!</h3>
                <p> <%= val1 %></p>
                <p> <%= val2 %></p>
                <p> <%= val3 %></p>
                <p> <%= val4 %></p>
            </div>
    
    </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
    </body>
    </html>