
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
  <div class="jumbotron">
      <h2>Here is your data</h2>
      <h2><%= value1PassedToRenderPage %></h2>
      <h3><%= value2PassedToRenderPage %></h3>
  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>